{% extends 'base.html.twig' %}

{% block title %}Edit Food{% endblock %}

{% block body %}

    <div class="container">
    <h1 style="text-align: center">Edit Food</h1>

        <div class="col-md-3"></div>
        <div class="col-md-6" style="margin: 20px auto;">
            {% include 'food/_form.html.twig' with {'form': form, 'button_label': 'Edit'} only %}

            <a href="{{ path('food_index') }}">back to list</a>

            {% include 'food/_delete_form.html.twig' with {'identifier': food.id} only %}
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}