.food_display{

}

.food_main{
    width: 80%;
    height: 180px;
}

.review_item{
    border-top: black dashed 2px;
    border-bottom: black dashed 2px;
}

.food_display h2{
    text-align: center;
}

.review_star{
    width: 50px;
}