{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <div class="container">
        <div class="co-md-2"></div>
        <div class="co-md-8 home_content">
            <h2 class="title_home">Home page</h2>
            <p>
                Welcome to the sugar free foods website. This is where members can join up to find
                new sugar free foods to enjoy. Members can leave reviews and share the location of where
                they bought the item.
                <br>
                <br>
                Join up today and leave as many reviews as you want.
            </p>

        </div>
        <div class="co-md-2"></div>
    </div>


{% endblock %}
